<% content_for :page_title do %>
  <%= link_to Spree.t(:quotes), spree.admin_quotes_url %> /
  <%= Spree.t(:new_quote) %>
<% end %>

<div data-hook="admin_quote_new_form_header">
  <%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @quote } %>
</div>

<div data-hook="admin_quote_new_form">
  <%= form_for [:admin, @quote], url: spree.admin_quotes_url, method: :post do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= f.hidden_field :user_id, value: current_spree_user.id, :class => 'form-control' %>

    <div data-hook="admin_quote_new_form_buttons">
      <%= render :partial => 'spree/admin/shared/new_resource_links' %>
    </div>
  <% end %>
</div>
