<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><%= Spree.t(:quotes_settings)%></h1>
  </div>

  <div class="panel-body">
    <div class="quotes-settings">
      <div class="col-md-9">
        <%= Spree.t(:number_of_quotes) %>
      </div>
    </div>
    <div data-hook="general_settings_quotes_count">
      <div class="col-md-9">
        <%= text_field_tag :quotes_count, ::Spree::Quote.quotes_display_count, class: 'form-control' %>
      </div>
      <div class="col-md-3">
        <%= preference_field_tag :disable_quote?, ::SpreeQuotesManagement::Config[:disable_quote?], {type: :boolean, class: 'form-control'} %>
        <%= Spree.t(:disable_quote) %>
      </div>
    </div>
  </div>
</div>
